.App {
  text-align: center;
}

button{
  outline: none;
  border: none;
  background: transparent;
  font-size: 2rem;
  padding: 0.3rem 1.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
button:hover{
  background-color: black;
  color: rgb(255, 252, 248);
}
.counter-display-area{
  width: max-content;
  margin: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgb(189, 184, 184);
}
.input{
  margin: 0 0.2rem;
  width: 2rem;
  height: 1.5rem;
  outline: none;
  border: none;
  font-weight: bold;
}